<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LKsystem</title>
    <link rel="stylesheet" th:href="@{./home/styles/home.css}">
    <script defer th:src="@{./home/scripts/home.js}"></script>
    <script src="https://kit.fontawesome.com/8bb132eaf4.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <section class="hero">
        <div class="carousel">
            <div class="carousel-track">
                <div class="carousel-slide active">
                    <img th:src="@{./home/images/car1.jpg}" class="carousel-image" alt="자동차 배터리 교체 서비스">
                    <div class="carousel-content">
                        <h1 class="company-name">
                            <span class="lk">LK</span><span class="system">system</span>
                        </h1>
<!--                        <img th:src="@{./home/images/Logo.png}" alt="로고" class="company-logo">-->
                        <p>전기차 충전기 전문 시공업체</p>
                        <p class="bold">엘케이시스템</p>
                    </div>
                </div>
                <div class="carousel-slide">
                    <img th:src="@{./home/images/car6.jpg}" class="carousel-image" alt="자동차 배터리 교체 서비스">
                    <div class="carousel-content">
                        <p>전국 어디든, 신속한 출장 서비스 제공</p>
                    </div>
                </div>
            </div>
            <div class="carousel-nav">
                <button class="carousel-indicator active"></button>
                <button class="carousel-indicator"></button>
            </div>
            <button class="carousel-button carousel-button-left">&lt;</button>
            <button class="carousel-button carousel-button-right">&gt;</button>
        </div>
    </section>

    <section class="services">
        <h2 class="services-title">전기차 충전기 & 전기공사 전문 시공</h2>
        <p class="services-subtitle">ISO 9001 & ISO 14001 인증, 신뢰할 수 있는 엘케이시스템</p>

        <div class="services-grid">
            <div class="service-card">
                <i class="fa-solid fa-charging-station fa-xl" style="color: #FFD43B; font-size: 3rem; margin-bottom: 3rem; margin-top: 2rem; margin-left: 1.1rem;"></i>
                <h3>전기차 충전기 설치</h3>
            </div>
            <div class="service-card">
                <div class="service-card-icon">🏠</div>
                <h3>전기공사 & 계량기 공사</h3>
            </div>
            <div class="service-card">
                <div class="service-card-icon">🔧</div>
                <h3>유지보수 & A/S</h3>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>