<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LKsystem</title>
  <link rel="stylesheet" th:href="@{./home/styles/home.css}">
  <link rel="stylesheet" th:href="@{./projects/styles/projects.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
  <section class="project-header">
    <div class="project-bg" th:style="'background-image: url(/projects/images/projects.jpg)'"></div>
    <h1 class="project-title">시공 사례</h1>
  </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>