<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LKsystem</title>
    <link rel="stylesheet" th:href="@{./home/styles/home.css}">
    <link rel="stylesheet" th:href="@{./services/styles/services.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <section class="service-header">
        <div class="service-bg" th:style="'background-image: url(/services/images/services_bg.jpg)'"></div>
        <h1 class="service-title">사업 분야</h1>
    </section>
    <img class="service-image" th:src="@{./services/images/services.png}" alt="serviceImg"></img>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>